html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #a9a9a9;
  background-image:url(/assets/img/pp.jpg)
}

body {
  width: 80%;
  margin: 0 auto;

}

/* || typography */

h1,
h2,
h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #b8bedd;
}

p,
input,
li {
  font-family: 'Times New Roman', Times, serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 0.5px 1px 2px black;
}



h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  color: #e1d8f8;
}

p,
li {
  font-size: 1.3rem;
  line-height: 1.5;

}


#redes li {
/*/hacer en el pie de pagina las redes/*/
  padding: 5px;
  display: inline-block;
}

.separar{

/*/hacer en el pie de pagina las redes/*/
  text-decoration: none;
  border: 3px;
  display: inline-block;
}


nav,
article,
aside,
footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 40px;
  background-color: #f0e6ef;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.5em;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #b8bedd;
  border: 0;
  color: black
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #f0e6ef;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}

.padre {
  display: flex;
  justify-content: left;

}

.hijo {
  padding: 10px;
}
.padre1 {
  display: flex;
  justify-content: space-between;
  

}

